Source: ros-hydro-cob-navigation-global
Section: misc
Priority: extra
Maintainer: Matthias Gruhler <mig@ipa.fraunhofer.de>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/cob_navigation_global
Standards-Version: 3.9.2

Package: ros-hydro-cob-navigation-global
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-amcl, ros-hydro-cob-default-env-config, ros-hydro-cob-linear-nav, ros-hydro-cob-navigation-config, ros-hydro-map-server, ros-hydro-move-base, ros-hydro-rviz, ros-hydro-topic-tools
Description: This package holds config and launch files for running the move_base node on the Care-O-bot. The move_base node is configured to run over a pre-specified static map.
